[alias]
	co = checkout
	ci = commit
	st = status
	last = log -1
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset %cd' --abbrev-commit
[core]
	autocrlf = false
[init]
	defaultBranch = main
[pull]
	rebase = false
